body {
    background-color: #260324;
    font-family: Jura;
    line-height: 1.5;
    font-size: 18px;
    color: #ffffff;
}
a {
    color: #f21de2;
}
header {
    width: auto;
    height:120; 
}
main {
    border: 3px solid yellow;
    padding: 5px 5px 5px 5px; 
}
h2 {
    font-family: Ustroke;
    font-size: 32px;
}
h3 {
    font-family: Edo SZ HQ;
}
.title1 {
    font-size: 50px;
    font-family: RussianPunk;
    background-color: #a536bf;
    border-bottom: 12px double #bdf407;
}
@font-face {
    font-family: RussianPunk; 
    src:url(fonts/20851.ttf);
}
@font-face {
    font-family: Ustroke;
    src:url(fonts/19849.ttf);
}
@font-face {
    font-family: Jura; 
    src:url(fonts/20783.ttf);
}
@font-face {
    font-family: Edo SZ HQ; 
    src:url(fonts/19440.ttf);
}
.table1 {
    font-size: 22px;
}
.img1 {
    float: right;
    margin:  7px 0 7px 7px;
}
.text1 {
    height: 180px;
    border-bottom: 1px dotted #bdf407;
}
.img9 {
    float: right;
    margin:  10px 0 15px 15px;
}
.text2 {
    border: 4px solid #bdf407;
    padding: 0 10px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 70px;
    height: 300px;
}
.text3 {
    border-top: 1px dotted #bdf407; 
    border-bottom: 1px dotted #bdf407; 
}
.text4 {
    border-bottom: 1px dotted #bdf407;
}
.text5 {
    border-bottom: 1px dotted #bdf407;
}
.text6 {
    border-bottom: 1px dotted #bdf407;
}
.thead1 {
    width: 500px;
}
.thead2 {
    width: 400px;
}
footer {
    line-height: 7px;
    width: auto;
    height: 120px;
}
.footer1 {
    line-height: 15px;
}


